a:link {
  text-decoration: none;
}

.bck {
  background-color: rgb(230, 151, 151);
  border-radius: 20%;
}

.user_logo_bord {
  position: absolute;
  height: 140px;
  width: 140px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  background: rgb(134, 124, 124);
  top: -65px;
  text-align: center;
}

.user_logo {
  position: absolute;
  top: -15px;
  height: 170px;
  width: 270px;
  padding: 10px;
}
